<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Weather app - miasta</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <div th:if="${not #lists.isEmpty(cities)}">
        <h2>Lista zapisanych miast</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>City Id</th>
                <th>City</th>
                <th>Kraj</th>
                <th>Widok</th>
                <th>#</th>
                <th>#</th>
            </tr>
            <tr th:each="city : ${cities}">
                <td th:text="${city.getId()}"><a href="/city/${city.id}"></a></td>
                <td th:text="${city.getCityId()}"> </td>
                <td th:text="${city.getCityName()}"> </td>
                <td th:text="${city.getCountryCode()}"> </td>
                <td><a th:href="${ '/city/' + city.id}">Zobacz</a></td>
                <!--<td><a th:href="${'/city/edit/' + city.id}">Edycja</a></td>-->
                <td><a th:href="${'/city/delete/' + city.id}">Usuń</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>